@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --color-custom-black: #111;
  --color-custom-white: #faf0e0;
  --color-custom-red: #ff2b55;
  --color-custom-yellow: #fbbd0d;
  --animate-expand: expansion 1.2s infinite;

  @keyframes expansion {
    0%,
    20% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  list-style-type: none;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
}

button,
input,
textarea {
  outline: none;
}

@utility light-shadow {
  box-shadow: 1px 2px 8px 0px rgba(45, 45, 45, 1);
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-custom-white);
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: var(--color-custom-black);
    border-radius: 10px;
  }
}
